/*zerowanie domyslnych marginesow przegladarki internetowej, klauzula important pomijajaca kaskadowosc */

/*dodanie biblioteki jQuery - ze strony jQquery.com/downlod - pobieramy skompresowana wersje biblioteki - np wersja jquery-1.11.1.min.js
- wrzucamy ten plik do folderu z projektem


*/



/*wlasciwosci domyslne*/
body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important; /*zerowanie domyslnych marginesow przegladarki internetowej, important - wymuszenie takiego ustawienia bez wzgledu na wystepujaca kaskadowosc - nie naklada ustawien z div'ow kolejnego rzedu*/
}

/*glowny div zajmuje cala szer ekranu - jest to zapis opcjonalny bo domyslnie div i tak zajmuje cala szer. ekranu*/
.wrapper
{
	width: 100%;
}


.header
{
	width:100%;
	padding: 40px 0; /*pierwsza wartosc oznacza padding w pionie a druga w poziomie*/
}

.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto; /*ustawienie margin-left i margin-right na auto - powoduje wysrodkowanie tego div'a */
	margin-right: auto;
	
}

.nav
{ 
	width: 100%;
	padding: 10px 0; /*pierwsza wartosc oznacza padding w pionie a druga w poziomie*/
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
	
	
}

.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify; /*wyjustowanie tekstu*/
	padding-top: 10px;
	min-height: 900px;
}

.socials
{
	width:100%;
	text-align: center;
	background-color: #292929;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}


/*UWAGA!!! nie dawac spacji w zapisie typu   .fb:hover   */
.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}

.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
}

/*z klasy sticky korzysta skrypt javascript - po dodaniu klasy .sticky do klasy .nav - nastapi przyklejenie paska nawigacji do gonej czesci strony - dzieje sie to posrednio przez wykorzystnie paramateru text-align: center;  div'a nav*/
.sticky
{
	width: 100%;
	position: fixed; /*ten atrybut powoduje wlasnie przyklejenie paska nawigacji do gory strony*/
	left: 0; /*wartosci wspolrzednej punktu do ktorego zatanie przyklejony pasek nawigacji*/
	top: 0; /*wartosci wspolrzednej punktu do ktorego zatanie przyklejony pasek nawigacji*/
	z-index: 100; /*okresla kolejnosc ulozenia warstw rysunku - przyjmujemy po prostu jakas dodatnia wartosc aby pasek byl zawsze na wierzchu */
	
}


/*styl wygladu listy rozwijanej*/
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none; /*usuniecie znacznikow listy - numeracja, punktory, znaczniki itd*/
	font-size: 18px;
	height: 35px;
	line-height: 200%; /*interlinia*/
	display: inline-block; /*dziala pododbnie jak float-left  -  w tym przypadku sluzy do wysrodkowania paska menu na stronie - */
}
	
	
	
/*styl wygladu hiperlaczy zawartych w listach rozwijanych*/	
ol a
{
	color: #ffffff; /*kolor czcionki hiperlaczy*/
	text-decoration: none; /*usuniecie podkreslenia   - domyslnie dla hiperlaczy mamy:    text-decoration: underline;   */
	display: block; /*link zachowuje sie jak element blokowy tzn - caly obrys napisu jest aktywnym linkiem a nie tylko sam napis*/
}


/*styl elementu li ale tylko tych, ktore pochodza od elementu ol */
ol > li
{
	float: left; /*elementy listy ulozone szeregowo obok siebie*/
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b; /*obramowanie z prawej strony*/
}


/*dodatkowe wlasciwosci dla pierwszego elementu li zawaartego w elemenci ol*/
ol > li:first-child
{
	border-left: 1px dashed #751b1b; /*obramowanie z lewej strony*/
}

/*wlasciwosci elementow li zawartych w elementach ol - gdy najedzie sie na nie kursorem */
ol > li:hover
{
	background-color: #cf6969;
}


/*wlasciwosci hiperlaczy w elementach li które sa zawarte w elementach ol - gdy najedzie sie na nie kursorem */
ol > li:hover > a
{
	color: #451717;
}



/*stylizacja elementow ul - ale tylko tych ktore sa zawarte w elementach li ktore sa zaw. w elementach ol*/
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none; /*lista ul domyslnie nie jest wyswietlana    - bedzie wyswietlana po najechaniu kursorem na element zawierajacy go - li        opisano ponizej w    ol > li:hover > ul {}*/
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#cf6969;
	position: relative; /*pozycja relatywna do elementu ul    - chodzi o kolejnosc renderowania grafik aby element li byl na wierzchu*/
	z-index: 100; /*pozycja wzgledem elementu ul (ustawiony parametr realtive powyzej)  - chodzi o to aby element li byl na wierzchu widoku*/
	border-top: 1px dashed #751b1b;
}

/*efekty po najechaniu kursorem na element li zawarty w elemencie ul itd.*/
ol > li > ul > li:hover
{
	background-color: #c34f4f;
}

ol > li > ul > li:hover > a
{
	color: #451717;
}