
/*Formatowanie calej sekcji body*/
body  
{
	background-color: #303030; 
	color: #ffffff; /*domyslny kolor czcionki na calej stronie*/
	font-family: 'Lato', sans-serif;  /*wygenerowany w google.fonts.com*/
	font-size: 20px;
}

/*formatowanie konkretnego (pojedynczego) div'a oznaczonego poprzez # */
#container
{
	
	width: 1000px;  /*stala szerokosc - bez responsywnosci*/
	margin-left: auto; /*wysrodkowanie*/
	margin-right: auto;
}


/*formatowanie wszystkich div'ow klasy rectangle - oznaczone przez . */
.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
	
}

	
.square
{
	width: 50%; /*50% szerokosci nadrzednego diva - czyli container - 500px*/
	float: left;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	text-align: left;
	
	margin-top: 10px;
	margin-bottom: 10px;
}

#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
	
	margin-top: 10px;
	margin-bottom: 10px;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

/*Efekt po najechaniu wskaznikiem myszy na ten div - UWAGA !!!!  - bez odstepu po znaku :hoover*/
.tile1:hover
{
	background-color: #2084c2;
}


.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #777777;
	float: left;
	text-align: center;
}


.tile2:hover
{
	background-color: #888888;
}

.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	margin: 10px;
	width: 420px;
	height: 82px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 22px;
	padding: 30px;
	line-height: 150%; /*odstep miedzy liniami tekstu*/
}

.tile5
{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #777777;
	text-align: justify;
	padding: 30px;
}

.yt
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
	text-align: center;
}

.yt:hover
{
	background-color: #c83237;
}


.fb
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
	text-align: center;
}

.fb:hover
{
	background-color: #3557a2;
}

.gplus
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d95333;
	float: left;
	text-align: center;
}

.gplus:hover
{
	background-color: #c84222;
}

.twitter
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.twitter:hover
{
	background-color: #2084c2;
}

a.tilelink
{
	color: #ffffff; /*link ma być zapisany czcionka koloru bialego - domyslnie jest to niebieski*/
	text-decoration: none;  /*brak podkreslenia linka*/
	display: block; /*dzieki temu zapisowi link bedzie dzialal nie tylko po nacicnieciu napisu ale caly div bedzie linkiem*/
	width: 230px;
	height: 142px;
	
	
}


a.tilelink
{
	color: #ffffff; /*link ma być zapisany czcionka koloru bialego - domyslnie jest to niebieski*/
	text-decoration: none;  /*brak podkreslenia linka*/
	display: block; /*dzieki temu zapisowi link bedzie dzialal nie tylko po nacicnieciu napisu ale caly div bedzie linkiem*/
	width: 230px;
	height: 142px;
	
	
}


a.tilelinkhtml5
{
	color: #ffffff; /*link ma być zapisany czcionka koloru bialego - domyslnie jest to niebieski*/
	text-decoration: none;  /*brak podkreslenia linka*/
	
	
}

a.sociallink /*od tilelink - rozni sie jedynie szerokoscia*/
{
	color: #ffffff; /*link ma być zapisany czcionka koloru bialego - domyslnie jest to niebieski*/
	text-decoration: none;  /*brak podkreslenia linka*/
	display: block; /*dzieki temu zapisowi link bedzie dzialal nie tylko po nacicnieciu napisu ale caly div bedzie linkiem*/
	width: 105px;
	height: 142px;
	
	
}